.container .row > div {
	margin-top: 80px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 200px;
	font-weight: 500;
	text-align: center;
	color: #3e396b;
	font-size: 28px;
}

.card:hover {
	background: rgba(0, 0, 0, .003);
	border-color: rgba(0, 0, 0, .2);
}

.hero-section {
	background: linear-gradient(to left, var(--primary), #6a11cb);

	h1 {
		color: #ffffff;
		font-size: 36px;
		line-height: 48px;
		font-weight: 600;
		text-align: center;

	}

	p {
		color: rgba(255, 255, 255, .8);
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
		text-align: center;
	}

	.hero-actions {
		margin-bottom: 100px;
	}

	button.btn {
		padding: 5px 18px;
		background: #28a745;
		color: #ffffff;
	}

	button.btn:hover {
		background: #268d3f;
		color: rgba(255, 255, 255, .9);
	}
}

.main-section {
	span:first-child {
		margin: 0 auto;
		background: #eef0f7;
		height: 100px;
		width: 100px;
		border-radius: 50% 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	span:nth-child(2) {
		margin: 25px auto 0 auto;
		color: rgba(0, 0, 0, .7);
	}

	span > i {
		font-size: 40px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.technologies-section {
	overflow: hidden;

	& > div {
		width: 125%;
		margin-left: -10%;
		margin-top: 80px;
		padding-bottom: 250px;
		//margin-bottom: 100px;
		background: linear-gradient(to bottom, #fff, #f8faff 100%);
	}

	.card {
		margin: 0 10px;
	}

	img {
		height: 100px;
		margin: 0 38px;
	}

	img[src='../../assets/img/npm.png'] {
		margin: 0;
	}

}

.footer-section {
	position: relative;
	z-index: 100;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 300px;
		background: #fff;
		transform: skewY(-3deg);
		//z-index: 0;
		top: -160px;
		z-index: -1;
	}

	p {
		font-style: italic;
		color: rgba(0, 0, 0, .7);
	}

	h2 {
		padding: 0;
		margin: 0;
	}

}

.languageSwitch {
	margin-left: 0;
	margin-right: 0;
}