<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 mx-auto">
        <h1>{{ 'about.hero.title' | translate}}</h1>
        <p >{{ 'about.hero.intro' | translate}}
        <div class="hero-actions">
          <button class="btn btn-outline-success mx-auto d-block" routerLink="/pricing">{{ 'about.hero.seeMoreBtn' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="main-section">
  <h2>{{'about.main.title' | translate}}</h2>
  <div class="container">
    <div class="row col-10 mx-auto">
      <div class="col d-flex flex-column">
        <span><i class="material-icons">memory</i></span>
        <span>{{'about.main.items.first' | translate}}</span>
      </div>
      <div class="col d-flex flex-column">
        <span><i class="material-icons">all_inclusive</i></span>
        <span>{{'about.main.items.second' | translate}}</span>
      </div>
      <div class="col d-flex flex-column">
        <span><i class="material-icons">perm_identity</i></span>
        <span>{{'about.main.items.third' | translate}}</span>
      </div>
      <div class="col d-flex flex-column">
        <span><i class="material-icons">check_circle_outline</i></span>
        <span>{{'about.main.items.fourth' | translate}}</span>
      </div>
    </div>
  </div>
</main>
<section class="technologies-section">
  <!--<div class="container">-->
  <h2>{{'about.technologies.title' | translate}} </h2>
  <div class="row justify-content-center">
    <!--<div class="col">-->
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/html.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/angular.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/js.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/node.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/ruby.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/android.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/java.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/npm.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/react.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/vue.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/rxjs.jpg" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/webstorm.png" alt="">
      </div>
    </div>
    <div class="card text-white mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../assets/img/scss.svg" alt="">
      </div>
    </div>
    <!--</div>-->
  </div>
  <!--</div>-->
</section>
<section class="footer-section">
  <h2>{{ 'about.footer.title' | translate}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <p>{{ 'about.footer.content' | translate}}</p>
      </div>
    </div>
  </div>
</section>
