<section class="pricing-section">
	<div class="container">
		<h2 class="section-title">{{'pricing.title' | translate}}</h2>
		<p class="section-subtitle">{{ 'pricing.description' | translate}}</p>
		<div class="row justify-content-around">
			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">{{ 'pricing.essential.title' | translate}}</p>
						<p class="plan-description">{{ 'pricing.essential.description' | translate}}</p>
						<div class="plan-price">
							<span class="d-block">{{ 'pricing.essential.label' | translate}}</span>
							<span class="d-block">{{ 'pricing.essential.price' | translate}}</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>{{ 'pricing.essential.benefits.0' | translate}}</li>
						<li>{{ 'pricing.essential.benefits.1' | translate}}</li>
						<li>{{ 'pricing.essential.benefits.2' | translate}}</li>
						<li>{{ 'pricing.essential.benefits.3' | translate}}</li>
					</ul>
					<a href="" class="btn" routerLink="contact">{{ 'pricing.essential.button' | translate}}</a>
				</div>
			</div>

			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">{{ 'pricing.business.title' | translate}}</p>
						<p class="plan-description">{{ 'pricing.business.description' | translate}}</p>
						<div class="plan-price">
							<span class="d-block">{{ 'pricing.business.label' | translate}}</span>
							<span class="d-block">{{ 'pricing.business.price' | translate}}</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>{{ 'pricing.business.benefits.0' | translate}}</li>
						<li>{{ 'pricing.business.benefits.1' | translate}}</li>
						<li>{{ 'pricing.business.benefits.2' | translate}}</li>
						<li>{{ 'pricing.business.benefits.3' | translate}}</li>
						<li>{{ 'pricing.business.benefits.4' | translate}}</li>
						<li>{{ 'pricing.business.benefits.5' | translate}}</li>
						<li>{{ 'pricing.business.benefits.6' | translate}}</li>
					</ul>
					<a href="" class="btn" routerLink="contact">{{ 'pricing.business.button' | translate}}</a>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">{{ 'pricing.enterprise.title' | translate}}</p>
						<p class="plan-description">{{ 'pricing.enterprise.description' | translate}}</p>
						<div class="plan-price">
							<span class="d-block">{{ 'pricing.enterprise.label' | translate}}</span>
							<span class="d-block">{{ 'pricing.enterprise.price' | translate}}</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>{{ 'pricing.enterprise.benefits.0' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.1' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.2' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.3' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.4' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.5' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.6' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.7' | translate}}</li>
						<li>{{ 'pricing.enterprise.benefits.8' | translate}}</li>
					</ul>
					<a href="" class="btn" routerLink="contact">{{ 'pricing.enterprise.button' | translate}}</a>
				</div>
			</div>
		</div>
	</div>
</section>