<section class="pricing-section">
	<div class="container">
		<h2 class="section-title">Choose the best pricing for you</h2>
		<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores assumenda</p>
		<div class="row justify-content-around">
			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">Essential</p>
						<p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<div class="plan-price">
							<span class="d-block">Starting at</span>
							<span class="d-block" >35 $</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
						<li>Free cloud space</li>
					</ul>
					<a href="" class="btn" routerLink="contact">Start plan</a>
				</div>
			</div>

			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">Business</p>
						<p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias est placeat recusandae. Animi dignissimos </p>
						<div class="plan-price">
							<span class="d-block">Starting at</span>
							<span class="d-block" >79 $</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
						<li>Free cloud space</li>
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
					</ul>
					<a href="" class="btn" routerLink="contact">Start plan</a>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="plan-main">
						<p class="plan-title">Enterprise</p>
						<p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at, </p>
						<div class="plan-price">
							<span class="d-block">Starting at</span>
							<span class="d-block" >199 $</span>
						</div>
					</div>
					<ul class="plan-benefits">
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
						<li>Free cloud space</li>
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
						<li>Free cloud space</li>
						<li>Small support</li>
						<li>Multi-user-access</li>
						<li>Email support</li>
						<li>Free cloud space</li>
					</ul>
					<a href="" class="btn" routerLink="contact">Start plan</a>
				</div>
			</div>
		</div>
	</div>
</section>