<footer class="footer-section">
  <div class="wrapper">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-3 offset-lg-1 flex-column nav">
          <div class="col">
            <div class="col"><h4>Company</h4></div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-5">
          <div class="col-lg-10 social-section">
            <div class="col"><h4>Stay in touch</h4></div>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="https://facebook.com" target="_blank">
                  <img src="../../../assets/img/social/facebook-letter-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://youtube.com" target="_blank">
                  <img src="../../../assets/img/social/youtube-play-button.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://linkedin.com" target="_blank">
                  <img src="../../../assets/img/social/linkedin-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://instagram.com" target="_blank">
                  <img src="../../../assets/img/social/instagram-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twiter.com" target="_blank">
                  <img src="../../../assets/img/social/twitter-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com" target="_blank">
                  <img src="../../../assets/img/social/github-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://photos.google.com" target="_blank">
                  <img src="../../../assets/img/social/google-logo.svg" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://pl.wikipedia.org/wiki/RSS" target="_blank">
                  <img src="../../../assets/img/social/rss-symbol.svg" alt="">
                </a>
              </li>

            </ul>

          </div>
          <div class="col newsletter">
            <div class="col"><h4>Newsletter</h4></div>
            <!--<div class="row">-->
            <div class="col">
              <form ngForm>
                <input type="text" placeholder="Your email address">
                <button class="btn btn-outline-primary" type="submit">Subscribe</button>
              </form>
            </div>
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="credits">
      <button (click)="switchLanguage('pl')" class="btn btn-outline-info">Polski</button>
      <button (click)="switchLanguage('en')" class="btn btn-outline-info">English</button>
      <p>© 2018 Damian Nurzyński | All rights reserved</p>
    </div>
  </div>
</footer>
